/* src/components/Admin/Admin.css */
.admin-container {
    display: flex;
    height: 100vh;
  }
  
  .admin-sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-sidebar ul li a {
    display: block;
    padding: 10px;
    color: white; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .admin-sidebar ul li a:hover,
  .admin-sidebar ul li a.active {
  background-color: #f0f0f0;
  color: #333;
  }
  
  .admin-content {
    flex-grow: 1;
    background-color: #ffffff; 
    padding: 20px;
    overflow-y: auto; 
    }
  